fastapi
uvicorn
yfinance
pandas
numpy
pydantic
langchain==0.2.16
langchain-google-genai==1.0.10
httpx
python-dotenv
langchain-core==0.2.38
pydantic-settings
python-telegram-bot==20.7
google-generativeai
supabase==2.3.0
gotrue==2.4.1
httpx==0.24.1
