fastapi
uvicorn
yfinance
pandas
numpy
pydantic
langchain==0.2.16
langchain-google-genai==1.0.10
python-dotenv
langchain-core==0.2.38
pydantic-settings
google-generativeai
supabase==2.9.0
python-telegram-bot==21.3
